<nav style="margin: -8px -8px 0.5em -8px; border-bottom: 1px solid #e7e9ea; background-color: #f8f9fa;">
  <div style="max-width: 70rem; margin: auto; padding: 0.5em; font-size: 1.3rem; color: #222;">
    <div class="float-end">
      <a class="plain-link" href="http://pascalr.github.io/cv">À propos</a>
    </div>
    <% let cond = typeof renderingHome === "undefined" || !renderingHome %>
    <%- linkIfCond('Acceuil', '/', cond, {className: 'plain-link'}) %>
  </div>
</nav>
