<nav style="background-color: rgb(33, 37, 41); margin: -8px -8px 0.5em -8px; border-bottom: 1px solid rgb(206, 226, 240);">
  <div style="max-width: 800px; margin: auto; padding: 0.5em 0px;">
    <div style="margin: auto; width: fit-content; font-weight: 500; font-size: 1.5rem; color: rgb(249, 249, 249);">
      <% if (typeof renderingHome != "undefined" && renderingHome) { %>
        Pascal Rainville
      <% } else { %>
        <a href="/" class="plain-link white">Pascal Rainville</a>
      <% } %>
    </div>
  </div>
</nav>
