<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/lib.css">
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div style="max-width: 70rem; margin: auto;">
      <h1>Index</h1>
      <a href="/1">Application Node.js web minimale</a>
    </div>
  </body>
</html>
